
body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(
        to bottom right,
        rgb(235, 255, 238, 0.15),         
        rgb(114, 163, 148, 0.5) 
    );

}
.header
{
    align-self: self-start;
}
.main
{
    display: flex;
    align-content: center;
    flex: 1;
}

.trainer-panel, .profile-data
{
  animation: bajada .25s ease-out;
}


/* Scrollbar general */
::-webkit-scrollbar {
  width: 8px; /* ancho de la barra */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* fondo */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #888; /* color de la barra */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* color cuando pasás el mouse */
}

@keyframes aparecer {
    from {
        filter: blur(10px);
        opacity: 0;
    }
    to {
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes bajada {
    from { transform: translateY(-500px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
@keyframes listarProyectos {
    from { transform: translateY(-100px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
@keyframes slideInIzq {
    from { transform: translateX(-1000px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}